@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1576241920224'); /* IE9 */
  src: url('iconfont.eot?t=1576241920224#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJoAAsAAAAABigAAAIcAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo0VAE2AiQDCAsGAAQgBYRtBy4beAUR1Ysnsi8LbMdneFBTWZlbNla+kKPS+M5pUFco8H0jHuLX/ndm7+z795smEe2CNtFEJpFIRPEEqREioUAo2jXkbcAJPp7IkJsHcWqZvwEC3gbnF2v94pwjVaNy0CM5e0CFvpB2gFlOAWDA5fQn0IOMOqBc96A1Bg3AOKBA98AosgIJvWHsApfwmMCAebviyv768KpkrQrE48pJr+aCUrJMFXo1B1N81KrN++YLH8Lvx9/jKo22sGpuPdoZ7/w3O6foeOgTQgR0vEXBLpK4V5u8oQjGFQOn0zJSCn7rOuwQe7UK9tdZ5UNgFqaC39wnBGhAovQcHR/lo6SV7jPZU1zsmWfn3SetdA66p/JffupwX+uuSfBthYp+buraruAvyHsOpa607E2q8tpsY0jZe8eAAXSwd8KvsabpU2ZDNX1id5+5FEW1Sia7i9agU/RUZxiw4/rxQZOeKCL7se01QBjzCY0Rn1GM+Uom+xOtGf/RM1bBgAfRhYPWsyqxIZSMBtQfKj301nGyiCpv6N6tpKwy5F9IcxWBLE6LmQP2SHNsmT8uZ7ZgaehgD57Dth1gpKFGzXHJPBZJYuveFOuh84S3IZSMBtQfKj301p/MovT5G7p3K6lloCb7Qpqr2SGL0x7kQdf3GriXV+aPy5ktWBo62IN52LYDjPXzatQclyPiY5HY42xfXby+ofu6UzDgWebGtxuLqMP+7XkAAA==') format('woff2'),
  url('iconfont.woff?t=1576241920224') format('woff'),
  url('iconfont.ttf?t=1576241920224') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1576241920224#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e97b";
}

