html {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f5f5f5;
  background-image: url(../image/main_bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 15px;
  line-height: 1.6em;
  font-family: 'Roboto', Helvetica, sans-serif;
}

.nav-bar-botton {
  transition: all 0.3s ease-in-out;
}

/* Header */
.site-header .header-content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
}

.name {
  color: #49515d;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  box-sizing: border-box;
  display: block;
  text-align: left;
  margin-top: 38px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  float: left;
}

.name .lastname {
  color: #2eca7f;
}

/* Nav bar */
.nav-bar-list {
  list-style: none;
  float: right;
  margin-top: 38px;
}

.nav-bar-list li {
  display: inline;
}

.nav-bar-botton {
  padding: 8px 0;
  margin: 0 20px;
  text-align: center;
  color: #49515d;
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  outline: none;
  opacity: 0.6;
}

.nav-bar-botton:hover {
  color: #2eca7f;
  opacity: 1;
  text-decoration: underline #2eca7f;
}

.mobile-visible {
  display: none;
}
/* /Header & /Nav bar */

/* Footer */
footer {
  position: fixed;
  font-size: 10px;
  width: 100%;
  text-align: center;
  bottom: 2px;
}
footer a, .detail a:visited {
  color: #2eca7f;
  text-decoration: none;
}

footer a:hover{
  color: orange;
  text-decoration: none;
}
/* /Footer */

/* Home section */
.subpages {
  padding-top: 100px;
}

.section-inner{
  max-width: 1032px;
  margin: 0 auto;
}

.page-header {
  position: relative;
  background-color: #2eca7f;
  border-radius: 15px 15px 0 0;
  padding: 50px;
  margin-bottom: 25px; 
}

.page-header:after {
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../image/sp_main_bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  opacity: 1;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  height: 100%;
}

.photo {
  margin-bottom: -75px;
  margin-left: 10px;
  border: 2px solid #ffffff;
  width: 275px;
  height: 275px;
  box-shadow: 0px 1px 5px gray;
  float: left;
}

.avatar-img {
  width: 100%;
  height: 100%;
}

.title-block {
  display: inline-block;
  text-align: center;
  padding-top: 30px;
  max-width: 641px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  bottom: 10px;
  left: 20px;
}

.linkedin {
  height: 32px;
  width: 32px;
  padding-top: 10px;
}

.main-name {
  font-size: 52px;
  color: #ffffff;
  margin: 30px 0;
}

.position {
  font-size: 20px;
  color: #ffffff;
}

.page-content {
  background-color: #ffffff;
  margin-top: -25px;
  border-radius: 0 0 15px 15px;
  padding: 50px;
  box-shadow: 0px 2px 15px gray;

}

.introduction {
  display: inline-block;
  height: 100%;
  width: 45%;
  padding-left: 10px;
}

.about-me {
  font-weight: bold;
  font-size: 18px;
}

.about-me span {
  color: #2eca7f
}

.detail {
  list-style: none;
  display: inline-block;
  position: relative;
  top: -61px;
  left: 50px;
  width: 45%;
}

.info-title {
  min-width: 100px;
  display: inline-block;
  font-weight: bold;
  color: gray
}

.detail a, .detail a:visited {
  color: #2eca7f;
  text-decoration: none;
}

.detail a:hover{
  color: orange;
  text-decoration: none;
}
/* /Home section */

/* Media queries */
@media only screen and (max-width: 1032px) and (min-width: 991px) {
  .subpages {
    margin: 0 15px;
  }
  
  .site-header {
    margin: 0 15px;
  }

  .title-block {
    width: 65%
  }
}
@media only screen and (max-width: 991px) {
  .mobile-hidden {
    display: none;
  }

  .mobile-visible {
    display: block;
  }

  .nav-bar {
    background-color: #2eca7f;
    height: 100% ;
    width: 100%;
   
  }
  .mobile-header {
    background-color: #2eca7f;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
  }
  .mobile-logo-container {
    margin: 13px 20px;
    text-align: left;
    float: left;
  }

  .mobile-site-title {
    display: inline-block;
    color: white;
    font-size: 18px;
  }

  .icon-menu {
    float: right;
    margin: 12px 20px;
    cursor: pointer;
  }

  .site-header {
    height: calc(100% - 50px);
    width: 320px;
    max-width: 320px;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .header-content {
    height: 100%;
    float: right;
  }

  .nav-bar-list {
    background-color: #2eca7f;
    width: 320px;
    height: 100%;
    margin-top: 50px;
    padding: 0;
  }

  .nav-bar-list li {
    display: block;
    text-align: center;
    padding: 15px 10px;
  }

  .nav-bar-botton {
    color: white;
    font-size: 15px;
  }

  .nav-bar-botton:hover {
    color: white;
    text-decoration: underline #ffffff;
  }

  .mobile-menu-hide {
    display: none;
  }

  .subpages {
    margin: 0 15px;
    padding-top: 60px;
  }

  .photo {
    max-width: 275px;
    width: 30.1%;
    height: auto;
    border: none;
    box-shadow: 0 0 0;
  }
  
  .avatar-img {
    width: 100%;
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 15px gray;
  }

   .title-block {
    width: 65%
  }
}

@media only screen and (max-width: 768px) {
  .photo {
    width: 200px;
    display: block;
    margin: 0 auto;
    clear: both;
    float: none;
  }

  .avatar-img {
    width: 100%;
    border: 2px solid #ffffff;
    box-shadow: 0px 2px 15px gray;
  }

  .page-header {
    box-sizing: border-box;
    padding: 20px;
  }

  .title-block {
    display: block;
    clear: both;
    position: static;
    width: 100%;
  }

  .introduction, .detail {
    display: block;
    width: 100%;
    position: static;
  }

  .detail {
    padding-left: 10px;
  }
}